@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');

html, body{
   background-color: #ff6666;
   overflow-x: hidden !important;
}

#root{
  width: 100vw;
  height: 100vh;
  background-color: #ff6666;
}


#info{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 220px;
  text-align: center;
  color: white;
}

#title{
  font-size: 70px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

#sub-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

#brain{
 font-size: 30px;
}

#quote-segment {
 position: absolute;
 top: 240px;
 width: 95%;
 left: 2.5%;
 background-color: white;
 border-radius: 40px;
 height: 290px;
}

#text, #author{
  font-size: 36px;
  margin-top:  50px;
  margin-left: 8%;
  margin-right: 22%;
  font-family: 'Nunito', sans-serif;
}

#author{
  margin-top: 25px;
  text-align: center;
}

.quote-icon{
  font-size: 20px;
  position: relative;
  bottom: 10px;  
}

#photo{
  height: 230px;
  min-width: 200px;
  max-width: 250px;
  border: 10px solid #ff6666; 
  border-radius: 50%;
  position: absolute; 
  bottom: 20px;
  left: 75vw;
}

#buttons-div{
  position: absolute;
  width: 100%;
  top: 520px;
  display: flex;
  justify-content: center;
}

#new-quote{
  width: 250px;
  background: transparent;
  border: white 5px solid;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

#new-quote, #tweet-quote{
  color: white;
  margin: 40px;
  height: 80px;
  position: relative;
  right: 1.5%
}

#new-quote:hover{
  border-color: #ccffff
}

#tweet-quote:hover{
  color: #ccffff
}

@media (max-width: 1220px){ /* to stop text from leaving the quote box*/
  #quote-segment{
    height: 320px;
  }
  #buttons-div{
    top: 590px;
  }
}

@media (max-width: 1075px){ /*the point when the title text splits into two seprate lines*/ 
  #quote-segment{
    top: 300px;
  }
   #buttons-div{
    top: 610px;
  } 
}

@media (max-width: 992px){ /*medium devices*/
  title{
    font-size: 60px;
  }
 
  #text, #author{
    font-size: 32px;
    margin-right: 8%;
  }
  #photo{
   display: none;
}
  #new-quote, #tweet-quote{
    right: 0%;
  }
 
}

@media (max-width: 768px){ /*small devices*/
  #title{
    font-size: 55px;
  }

  #text, #author{
    font-size: 30px;
  }
  
  #quote-segment{
    height: 380px;
  }
  
  #buttons-div{
    top: 680px;
    right: 10px;
  }   
  
}





